#article-view {
  .nav {
    p {
      border-bottom:solid 1px #eee;
      height: 40px;
      a {
        color: #fff;
        height: 40px;
        width: 100px;
        font: 12px sans-serif;
        padding-top: 14px;
        text-align: center;
      }
      .home {
        background: #5EA51B;
      }
      .cate {
        background: #8ddf5d;
      }
      .motto {
        color: #999;
        padding: 26px;
        font-size: 12px;
      }
    }
  }
  .article {
    .title {
      text-align: center
    }
    .article-info {
      border: dashed 1px #ccc;
      text-align: center;
      color: #aaa;
      margin-right: 8px;
    }
    .content{
      margin-top: 30px;
    }
  }
  .secondary-block {
    .hot-article {
      .head {
        background: #FB4F4F;
        h3 {
          margin: 0;
        }
      }
      .body {
        border-top: #FB4F4F 2px solid;
        padding: 0;
        ul {
          padding:20px 0;
          li {
            list-style-type:none;
            border-bottom: solid 1px #ddd;
            padding-bottom: 4px;
            padding-top: 10px
          }
        }
      }
    }
    .article-tag {
      margin: 0;
      padding: 0;
      .hexagon(250px;500px;32px);
    }
  }
}
