#app-top {
  /*z-index: 99;//浮动导航
  position: relative;*/
  .top {
    background-color: #15a085;
    height: 190px;
    width: 100%;
    padding-top: 15px;
    .logo {
      height: 160px;
      width: 160px;
      border-radius: 160px;
      background-color: #fff;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      img {
        height: 160px;
        width: 160px;
      }
    }
  }
  nav {
    .pc-right {
      @media screen and (min-width: @screen-md) {
        float: right !important;
      }
    }
  }
}
.content-wrapper{
  margin: 20px auto;
}
#app-footer {
  background-color: #05435c;
  height: auto;
  width: 100%;
  padding: 20px 30px 0;
  margin-bottom: 0;
  font-family: Calibri,"Helvetica Neue", Helvetica, Arial;
  color: #eee;
  a {
    color: #eee;
  }
  .friendly-link {
    a {
      margin-right: 5px;
      padding: 4px;
      border: 1px solid #EEE;
      border-radius: 2px;
    }
  }
}
