@blue: #567efc;
@font-color: #756F71;
@h-color: #333;
a {
  color: #759B08;
  &:hover {
    color: @blue;
  }
}

p {
  color: @font-color;
}

h1,h2,h3,h4,h5,h6 {
  a {
    color: @h-color;
    &:hover {
      color: @h-color;
      text-decoration:none;
    }
  }
}
