@font-color: #756F71;
@a-color: #333;
a {
  color: @a-color;
  &:hover {
    color: #567efc;
    text-decoration:none;
  }
}
p {
  color: @font-color;
}
h1,h2,h3,h4,h5,h6 {
  a {
    &:hover {
      color: @a-color;
    }
  }
}
