/*
 *六边形蜂窝标签
 */
/* app */
#app-top {
  /*z-index: 99;//浮动导航
  position: relative;*/
}
#app-top .top {
  background-color: #15a085;
  height: 190px;
  width: 100%;
  padding-top: 15px;
}
#app-top .top .logo {
  height: 160px;
  width: 160px;
  border-radius: 160px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
#app-top .top .logo img {
  height: 160px;
  width: 160px;
}
#app-top .item {
  height: 50px;
  background-color: #05435c;
}
#app-top .item ul {
  margin: 0;
  padding: 20px 4px 0 5%;
}
#app-top .item .nav {
  margin-bottom: 0;
  font-size: 19px;
  list-style-type: none;
}
#app-top .item .nav a {
  color: #fff;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  padding: 8px 16px 6px;
  margin-right: 25px;
}
#app-top .item .nav a:hover {
  background: #2b585c;
  text-decoration: none;
}
#app-top .item .login {
  margin-bottom: 0;
  font-size: 14px;
  list-style-type: none;
  padding: 0;
  color: #fff;
}
#app-top .item .login a {
  color: #fff;
}
#app-top .item .login a:hover {
  color: #15A085;
}
#app-top .item img {
  margin-top: -5px;
}
#app-top .user-avatar {
  background: #fff;
  float: right;
  border: solid 1px #ddd;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.content-wrapper {
  margin: 20px auto;
}
#app-footer {
  background-color: #05435c;
  height: auto;
  width: 100%;
  padding: 20px 30px 0;
  font-family: Calibri, "Helvetica Neue", Helvetica, Arial;
  color: #eee;
}
#app-footer a {
  color: #eee;
}
#app-footer .friendly-link a {
  margin-right: 5px;
  padding: 4px;
  border: 1px solid #EEE;
  border-radius: 2px;
}
#article-index .primary-block .category {
  margin-top: 0;
  width: 100%;
  background: #F1B73A;
  border-left: #E8A211 10px solid;
}
#article-index .primary-block .item {
  padding: 30px 0 40px;
  border-bottom: solid 1px #ddd;
}
#article-index .primary-block .item .left {
  z-index: 2;
  position: relative;
}
#article-index .primary-block .item .left img {
  width: 180px;
  height: 140px;
}
#article-index .primary-block .item .right {
  position: relative;
  z-index: 1;
  margin-left: -180px;
  padding-left: 200px;
  padding-right: 0;
}
#article-index .primary-block .item .right h4 {
  margin-top: 0;
}
#article-index .primary-block .item .right p a {
  color: #759B08;
}
#article-index .primary-block .item .right p a:hover {
  color: #567efc;
}
#article-index .primary-block .item .right .summary {
  height: 80px;
  overflow: hidden;
}
#article-index .primary-block .item .right .leaf {
  color: #01b838;
}
#article-index .primary-block .item .right .clock {
  color: #567efc;
}
#article-index .primary-block .item .right .comment {
  color: #f8b838;
}
#article-index .primary-block .item .right .eye {
  color: #aaa;
}
#article-index .primary-block .linkPager {
  text-align: center;
}
#article-index .secondary-block .hot-article .head {
  background: #FB4F4F;
}
#article-index .secondary-block .hot-article .head h3 {
  margin: 0;
}
#article-index .secondary-block .hot-article .body {
  border-top: #FB4F4F 2px solid;
  padding: 0;
}
#article-index .secondary-block .hot-article .body ul {
  padding: 20px 0;
}
#article-index .secondary-block .hot-article .body ul li {
  list-style-type: none;
  border-bottom: solid 1px #ddd;
}
#article-index .secondary-block .hot-article .body ul li a {
  padding-bottom: 4px;
  padding-top: 10px;
  display: block;
}
#article-index .secondary-block .hot-article .body ul li:hover {
  border-bottom: solid 1px #777;
}
#article-view .nav p {
  border-bottom: solid 1px #eee;
  height: 40px;
}
#article-view .nav p a {
  color: #fff;
  height: 40px;
  width: 100px;
  font: 12px sans-serif;
  padding-top: 14px;
  text-align: center;
}
#article-view .nav p .home {
  background: #5EA51B;
}
#article-view .nav p .cate {
  background: #8ddf5d;
}
#article-view .nav p .motto {
  color: #999;
  padding: 26px;
  font-size: 12px;
}
#article-view .article .title {
  text-align: center;
}
#article-view .article .article-info {
  border: dashed 1px #ccc;
  text-align: center;
  color: #aaa;
  margin-right: 8px;
}
#article-view .article .content {
  margin-top: 30px;
}
#article-view .secondary-block {
  font-family: 'Times New Roman', 'Microsoft YaHei', 'New York', serif, Times, TimesNR;
}
#article-view .secondary-block .hot-article .head {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 0;
  background: #FB4F4F;
}
#article-view .secondary-block .hot-article .head .title {
  margin: 4px 6px 1px;
}
#article-view .secondary-block .hot-article .body {
  border-top: #FB4F4F 1px solid;
  padding: 0;
}
#article-view .secondary-block .hot-article .body ul {
  padding: 20px 0;
}
#article-view .secondary-block .hot-article .body ul li {
  list-style-type: none;
  border-bottom: solid 1px #ddd;
}
#article-view .secondary-block .hot-article .body ul li a {
  padding-bottom: 4px;
  padding-top: 10px;
  display: block;
}
#article-view .secondary-block .hot-article .body ul li:hover {
  border-bottom: solid 1px #777;
}
#article-view .secondary-block .article-tag {
  padding: 0;
}
#article-view .secondary-block .article-tag .head {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 0;
  background: #ddd;
}
#article-view .secondary-block .article-tag .head .title {
  margin: 4px 6px 1px;
}
#article-view .secondary-block .article-tag .body {
  border-top: #ddd 1px solid;
}
#article-view .secondary-block .article-tag .containe {
  font-family: 'Times New Roman', 'Microsoft YaHei', 'New York', serif, Times, TimesNR;
  width: 250px;
  height: 500px;
  position: absolute;
  padding: 10px 0;
  overflow: auto;
}
#article-view .secondary-block .article-tag .hex {
  width: 55.424px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: auto 65px;
  -moz-background-size: auto 65px;
  -ms-background-size: auto 65px;
  -o-background-size: auto 65px;
  position: relative;
  float: left;
  margin: 9.28px 1.8592px;
  text-align: center;
  zoom: 1;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
#article-view .secondary-block .article-tag .hex:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}
#article-view .secondary-block .article-tag .hex a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
}
#article-view .secondary-block .article-tag .hex a:hover {
  text-decoration: none;
}
#article-view .secondary-block .article-tag .hex .corner-1,
#article-view .secondary-block .article-tag .hex .corner-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -2;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#article-view .secondary-block .article-tag .hex .corner-1:before,
#article-view .secondary-block .article-tag .hex .corner-2:before {
  width: 65px;
  height: 65px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: inherit;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#article-view .secondary-block .article-tag .hex .corner-1 {
  z-index: -1;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
#article-view .secondary-block .article-tag .hex .corner-1:before {
  -webkit-transform: rotate(-60deg) translate(33px, 0px);
  transform: rotate(-60deg) translate(33px, 0px);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
#article-view .secondary-block .article-tag .hex .corner-2 {
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
#article-view .secondary-block .article-tag .hex .corner-2:before {
  -webkit-transform: rotate(60deg) translate(-17.86016px, -4.0928px);
  transform: rotate(60deg) translate(-17.86016px, -4.0928px);
  bottom: 0;
}
#article-view .secondary-block .article-tag .hex-half {
  margin-left: 32px;
}
#article-view .secondary-block .article-tag .hex-half-neg {
  margin-left: -27px;
}
#article-view .secondary-block .article-tag .hex-one {
  margin-left: 61px;
}
#app-home .primary-block {
  padding-right: 25px;
}
#app-home .primary-block .carousel .item img {
  height: 400px;
  width: 100%;
}
#app-home .primary-block .carousel .item .ad-text {
  text-align: left;
}
#app-home .primary-block .carousel .item .ad-text .ad-title {
  color: #eee;
}
#app-home .primary-block .carousel .item .ad-text .ad-summary {
  color: #FFF;
}
#app-home .primary-block .carousel i {
  margin-top: 150px;
}
#app-home .primary-block .article {
  padding-top: 10px;
  margin-top: 20px;
}
#app-home .primary-block .article .new-article {
  padding-left: 0;
  border-bottom: solid 3px #F77825;
}
#app-home .primary-block .article .new-article .pull-right {
  margin-top: 8px;
}
#app-home .primary-block .article .item {
  padding: 10px 0 20px;
  border-bottom: solid 1px #ddd;
}
#app-home .primary-block .article .item:hover {
  border-bottom: solid 1px #83AF9B;
}
#app-home .primary-block .article .item .left {
  z-index: 2;
  position: relative;
}
#app-home .primary-block .article .item .left img {
  width: 180px;
  height: 140px;
}
#app-home .primary-block .article .item .right {
  position: relative;
  z-index: 1;
  margin-left: -180px;
  padding-left: 200px;
  padding-right: 0;
}
#app-home .primary-block .article .item .right h4 {
  margin-top: 0;
}
#app-home .primary-block .article .item .right p {
  color: #756F71;
}
#app-home .primary-block .article .item .right p a {
  color: #759B08;
}
#app-home .primary-block .article .item .right p a:hover {
  color: #567efc;
}
#app-home .primary-block .article .item .right .summary {
  height: 80px;
  overflow: hidden;
}
#app-home .primary-block .article .item .right .leaf {
  color: #01b838;
}
#app-home .primary-block .article .item .right .clock {
  color: #567efc;
}
#app-home .primary-block .article .item .right .comment {
  color: #f8b838;
}
#app-home .primary-block .article .item .right .eye {
  color: #aaa;
}
#app-home .second-block .follow {
  margin-bottom: 10px;
  padding: 0;
}
#app-home .second-block .follow .head {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
#app-home .second-block .follow .body .item {
  padding: 0;
  text-align: center;
}
#app-home .second-block .follow .body .item i {
  font-size: 40px;
  margin-bottom: 10px;
}
#app-home .second-block .follow .body .item a {
  text-align: center;
  margin-top: -50px;
  padding-top: 50px;
}
#app-home .second-block .follow .body .my-avatar img {
  width: 100%;
  height: 140px;
}
#app-home .second-block .follow .body .my-summary {
  background: #eee;
  padding-top: 12px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#app-home .second-block .follow .body .my-summary p {
  margin-bottom: 0;
  color: #990000;
}
#app-home .second-block .follow .body .my-summary p small {
  color: #bc874d;
}
#app-home .second-block .hot-article {
  margin-top: 10px;
  padding: 0;
}
#app-home .second-block .hot-article .head {
  background: #eee;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
#app-home .second-block .hot-article .head li {
  width: 50%;
}
#app-home .second-block .hot-article .head a {
  margin-right: 0;
  text-align: center;
}
#app-home .second-block .hot-article .body {
  border: 1px solid #ddd;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#app-home .second-block .hot-article .body ul {
  padding: 5px;
}
#app-home .second-block .hot-article .body .title {
  list-style-type: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-top: 10px;
}
#app-home .second-block .hot-article .body .title:hover {
  border-bottom: 1px solid #999;
}
#app-home .second-block .hot-article .body .title a {
  color: #777;
}
#app-home .second-block .hot-article .body .title a:hover {
  color: #444;
}
#app-home .second-block .hot-tag {
  padding: 0;
  margin-top: 18px;
}
#app-home .second-block .hot-tag .head {
  border-bottom: 1px solid #eee;
  margin-bottom: -10px;
}
#app-home .second-block .hot-tag .body {
  height: 400px;
}
#app-home .second-block .hot-tag .body .containe {
  font-family: 'Times New Roman', 'Microsoft YaHei', 'New York', serif, Times, TimesNR;
  width: 250px;
  height: 360px;
  position: absolute;
  padding: 10px 0;
  overflow: auto;
}
#app-home .second-block .hot-tag .body .hex {
  width: 55.424px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: auto 65px;
  -moz-background-size: auto 65px;
  -ms-background-size: auto 65px;
  -o-background-size: auto 65px;
  position: relative;
  float: left;
  margin: 9.28px 1.8592px;
  text-align: center;
  zoom: 1;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
#app-home .second-block .hot-tag .body .hex:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}
#app-home .second-block .hot-tag .body .hex a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
}
#app-home .second-block .hot-tag .body .hex a:hover {
  text-decoration: none;
}
#app-home .second-block .hot-tag .body .hex .corner-1,
#app-home .second-block .hot-tag .body .hex .corner-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -2;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#app-home .second-block .hot-tag .body .hex .corner-1:before,
#app-home .second-block .hot-tag .body .hex .corner-2:before {
  width: 65px;
  height: 65px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: inherit;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#app-home .second-block .hot-tag .body .hex .corner-1 {
  z-index: -1;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
#app-home .second-block .hot-tag .body .hex .corner-1:before {
  -webkit-transform: rotate(-60deg) translate(33px, 0px);
  transform: rotate(-60deg) translate(33px, 0px);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
#app-home .second-block .hot-tag .body .hex .corner-2 {
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
#app-home .second-block .hot-tag .body .hex .corner-2:before {
  -webkit-transform: rotate(60deg) translate(-17.86016px, -4.0928px);
  transform: rotate(60deg) translate(-17.86016px, -4.0928px);
  bottom: 0;
}
#app-home .second-block .hot-tag .body .hex-half {
  margin-left: 32px;
}
#app-home .second-block .hot-tag .body .hex-half-neg {
  margin-left: -27px;
}
#app-home .second-block .hot-tag .body .hex-one {
  margin-left: 61px;
}
#app-home .second-block .friendly {
  padding: 0;
}
#app-home .second-block .friendly .head {
  color: #900;
  border-bottom: 1px solid #eee;
}
#app-home .second-block .friendly .body {
  padding: 0;
}
#app-home .second-block .friendly .body ul {
  padding: 0;
}
#app-home .second-block .friendly .body ul li {
  float: left;
  list-style-type: none;
  margin: 4px 4px;
}
#app-home .second-block .friendly .body ul li a {
  padding: 2px 2px;
  color: #fff;
  font-size: 16px;
  background: #536d9d;
  border-radius: 2px;
}
#about-page .item {
  background: #EEE;
  border-radius: 3px;
}
#about-page .item .basic {
  padding: 0;
}
#about-page .item .my-img {
  float: left;
}
#about-page .item img {
  width: 100%;
  height: 220px;
  border: 3px solid #DDD;
}
#about-page .item .info {
  line-height: 28px;
  float: left;
  margin-top: 5px;
  padding-left: 0;
}
#about-page .item .info i {
  width: 20px;
  color: #15A085;
}
#about-page .item .content {
  padding-left: 15px;
}
